body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  /*font-family: sans-serif;*/
  font-family: 'Open Sans', serif;
}
#map {
  height: 85%;
}
#legend {
  position: absolute;
  background: rgba(255, 204, 204, 0.5);
  padding: 10px;
  top: 10px;
  right: 10px;
  width: 160px;
  border-radius: 4px;
  border: 2px solid rgba(255,255,255,.5);
  z-index: 10;
  cursor:default;
}
#legend input {
  cursor: pointer;
}
#legend label {
  cursor: pointer;
  font-weight: bold;
}
#date {
  margin: 0px;
  display: block;
}
#date_filter {
  margin-top: 10px;
}
input[type=checkbox] {
  vertical-align: middle;
  position: relative;
  bottom: 1px;
}
#filter_settings {
  position: absolute;
  background: rgba(255, 204, 204, 0.5);
  top: 10px;
  left: 50px;
  width: auto;
  border-radius: 4px;
  border: 2px solid rgba(255,255,255,.5);
  z-index: 10;
  cursor:default;
  font-weight: bold;
}
#datepicker_s, #datepicker_e, #input_twt {
  width: 262px;
}
select, #date_filter {
  cursor: pointer;
}
#basemaps {
  margin-bottom: 10px;
}
#label_twt, #label_fsq, #datepicker_s, #datepicker_e, #input_twt, #select_fsq {
  display: block;
}
#team {
  padding-bottom: 10px;
  font-size: 14px;
}
#team a {
  color: rgba(255, 51, 51, 1);
  font-family: 'Open Sans', serif;
}
#team a:link {
  text-decoration: none;
}
#select_fsq, input#date_filter, .leaflet-container {
  font-family: 'Open Sans', serif;
}
#legend_a {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 20;
}
#filter_settings_a {
  position: absolute;
  top: 10px;
  left: 50px;
  z-index: 20;
}
#legend_a:hover, #filter_settings_a:hover {
  cursor: pointer;
}
@media screen and (max-width: 600px) {
  #legend, #filter_settings {
    display: none;
  }
  #filter_settings {
    padding: 30px 10px 10px 10px;
  }
}
@media screen and (min-width: 601px) {
  #legend, #filter_settings {
    display: block;
  }
  #filter_settings {
    padding: 10px;
  }
}
@media screen and (max-width: 600px) {
  #legend_a, #filter_settings_a {
    display: block;
  }
}
@media screen and (min-width: 601px) {
  #legend_a, #filter_settings_a {
    display: none;
  }
}
